@font-face {
  font-family: 'MontLightc';
  src: url("fonts/mont_extralightdemo.woff") format('woff')
}
@font-face {
  font-family: 'MontBold';
  src: url("fonts/Mont-HeavyDEMO.woff") format('woff')
}

/*Хз, шрифт хуйня ебаная, надо новый искать*/

body {
  background: linear-gradient(to right, #0D9488, #1D1D20);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: Inter, sans-serif;
  color: white;
}

footer {
  background-color: #1D1D20;
  color: white;
  text-align: center;
  padding: 30px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 5px solid #232326;
}


.content {
  text-align: center;
  margin-top: 160px;
}

.pm {
  font-size: 64px;
}

.custom{
  margin-top: 100px;
  font-size: 40px;
  font-family: MontLightc;
}

.email {
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
}

.menu {
  text-align: center;
  color: white;
  position: fixed;
  margin-top: 25px;
  margin-left: 80px;
}
nav a{
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-right: 84px;
  display: inline-block;
}

.sellect { /*боже блять убейте*/
  background-color: rgb(29, 29, 32, 40%);
  color: #0D9488;
  border: none;
  padding: 10px 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 40px;
  font-size: 20px;

}



